

.sidebar-collapse {
    border-right: 1px solid #e7e7e7;
}

.page-header {
    margin-top: 20px; /*override bootstrap*/
}


.btn-add-model {
    padding: 0px 5px;
}

#selected-models {
    margin: 10px 15px 0 15px;
}

#selected-models ul {
    padding: 0 0 0 5px;
    list-style: none;
}

#selected-models ul li {
    border-bottom: 0px
}
.sidebar-nav i,
.sidebar-nav object {
    color: #666;
}


/* helper classes */s
.pointer {
    cursor: hand;
    cursor: pointer;
}

.hover { 
    opacity: .6;
}
.hover:hover {
    opacity: 1;
}

.hover-inverted:hover {
    opacity: .8;
}

.link {
    color: #428bca;
}
.icon {
    color: #666;
}
.icon:hover {
    color: #222;
}

.overflow {
    overflow-x: scroll;
}

/* end helper class */

.model-count { 
    background-color: #777;
}

#content .nav-tabs {
    margin: 10px 0 0 0;
}

#content .tab-content {
    margin: 10px 0 0 0;
}

table.comparison-table thead, table.comparison-table tbody {
    float: left;
    width: 100%;
}
table.comparison-table tbody {
    overflow: auto;
    height: 175px;
}
table.comparison-table tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.comparison-table th, table.comparison-table td {
    width: 10%;
}


.obj-grid {
    height: 100%;
}

/* ui grid styling */

.ui-grid {
    border: none;
    height: 330px;
}

.ui-grid-header {
    border:none;
    border-bottom: 2px solid #dfdfdf;
}
.ui-grid-vertical-bar {
    background-color: #fff !important;
}
.ui-grid-top-panel .ui-grid-cell-contents {
    border:none;
}

.ui-grid-top-panel {
    background: #fff;
}

.ui-grid-cell {
    border-right: none;
}

.ui-grid-row:nth-child(even),
.ui-grid-cell {
    border-bottom: 1px solid #dfdfdf;
    background: #fff !important;
}

