

.KBSnode rect{
	stroke: #888;
}


/* cdd viewer */


.cdd-box {
	fill: lightsteelblue;
	stroke: steelblue;
	stroke-width: 1px;

}

.grid-line {
    stroke-width: 1px;
	stroke: #999;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}


.overlay {
  fill: none;
}




