<!DOCTYPE html>
<html ng-app="coreModelViewer" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="viewer for metabolic central carbon core models">
    <meta name="author" content="nconrad">

    <title>Core Models</title>

    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/core.css">

    <link rel="stylesheet" href="css/viz.css">
    <link rel="stylesheet" href="css/tabs.css">

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/jquery-ui/jquery-ui.min.js"></script><!-- to be removed -->
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/d3/d3.min.js"></script>

    <script src="components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="lib/datatables-bootstrap/dataTables.bootstrap.js"></script>

    <script src="app/clients/fbaModelServices.js"></script>
    <script src="app/clients/workspace-0.2.1.js"></script>
    <script src="app/clients/userandjobstate.js"></script>

    <script src="components/angular/angular.js"></script>
    <script src="components/ui-router/release/angular-ui-router.js"></script>


    <script src="config.js"></script>
    <script src="app/app.js"></script>

    <script src="app/controllers.js"></script>
    <script src="app/services/model-list.js"></script>
    <script src="app/directives.js"></script>

    <script src="lib/kbase-rpc/kbase-rpc.js"></script>
    <script src="lib/ui-common/functional-site/js/kbapi.js"></script>

    <script src="lib/ui-common/src/kbWidget.js"></script>
    <script src="lib/ui-common/src/widgets/kbaseAuthenticatedWidget.js"></script>

    <script src="lib/ui-common/src/widgets/maps/kbasePathway.js"></script>
    <script src="lib/ui-common/src/widgets/maps/kbasePathways.js"></script>

    <!-- modeling widgets -->
    <script src="lib/ui-common/src/widgets/modeling/KBObjects.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/kbaseTabTable.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/kbaseTabs.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/KBaseFBA.FBA.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/KBaseFBA.FBAModel.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/kbaseETCDiagram.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/KBaseBiochem.Media.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/KBasePhenotypes.PhenotypeSet.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/KBasePhenotypes.PhenotypeSimulationSet.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/KBaseSearch.GenomeSet.js"></script>
    <script src="lib/ui-common/src/widgets/modeling/KBaseFBA.FBAModelSet.js"></script>
    <!-- end modeling widgets -->


    <!--<link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" ng-controller="MainCtrl">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand sidebar-collapse" sidebar-collapse><i class="fa fa-caret-left"></i> <i class="fa fa-bars"></i></a>
                <a class="navbar-brand pull-left" href="index.html">Core Model Viewer</a>

            </div>

        </nav>


        <nav class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <!--<li>
                        <a ng-class="{ active: $state.includes('genomes')}" ui-sref="genomes"><object width=10 data="img/dna10.svg" type="image/svg+xml"></object> Genomes<span class="text-muted pull-right">8,179</span></a>
                    </li>-->

                    <li>
                        <a ng-class="{ active: $state.includes('models')}" ui-sref="models"><i class="fa fa-bug"></i> Models<span class="text-muted pull-right">11,483</span></a>
                    </li>

                    <li>
                        <a ng-class="{ active: $state.includes('media')}" ui-sref="media"><i class="fa fa-cutlery"></i> Media<span class="text-muted pull-right">17</span></a>
                    </li>
                    <li>
                        <a ng-class="{ active: $state.includes('fba')}" ui-sref="fba"><i class="fa fa-line-chart"></i> FBA<span class="text-muted pull-right">58,998</span></a>
                    </li>

                    <li>
                        <a ng-class="{ active: $state.includes('compare')}"  ui-sref="compare">
                            Compare Models
                            <span class="badge pull-right model-count">{{MV.models.length}}</span>
                        </a>
                    </li>
                </ul>

                <div id="selected-models" ng-show="MV.models.length">

                    <h5 class="text-muted">Selected Models</h5>
                    <ul model-list>
                        <li ng-repeat="model in MV.models" ng-mouseenter="showRm()" ng-mouseleave="hideRm()">
                            <a ui-sref="modelPage({ws: '{{model.workspace}}', name: '{{model.name}}' })">{{model.name}}</a>
                            <span ng-show="hoverOn" class="glyphicon glyphicon-remove pull-right hover pointer btn-rm" ng-click="MV.rm($index); updateCompare();"></span>
                        </li>
                    </ul>

                    <div>
                        <a class="btn btn-link pull-right" ng-click="MV.rmAll()">Clear All</a>
                    </div>
                </div>
            </div>


            <div class="sidebar-nav-small" style="display: none;">
                <ul class="nav">
                    <!--<li>
                        <a ng-class="{ active: $state.includes('genomes')}" ui-sref="genomes"><object width=10 data="img/dna10.svg" type="image/svg+xml"></object></a>
                    </li>-->
                    <li>
                        <a ng-class="{ active: $state.includes('models')}" ui-sref="models"><i class="fa fa-bug"></i></a>
                    </li>
                    <li>
                        <a ng-class="{ active: $state.includes('media')}" ui-sref="media"><i class="fa fa-cutlery"></i></a>
                    </li>
                    <li>
                        <a ng-class="{ active: $state.includes('fba')}" ui-sref="fba"><i class="fa fa-line-chart"></i></a>
                    </li>

                    <li>
                        <a ui-sref="compare">
                            <span class="badge model-count">{{MV.models.length}}</span>
                        </a>
                    </li>

                </ul>

            </div>

        </nav>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div ui-view id="content"></div>
                </div>
            </div>
        </div>

        <div id="footer">
            <span class="pull-right">
                <i class="text-muted">Powered by </i>
                <a href="http://kbase.us" class="hover-inverted">
                    <img width=30 height=30 src="img/labs_icon.png" />
                </a>
            </span>
        </div>

    </div>

</body>

</html>
