
<h2>Comparitive Viewer</h2>

<div ng-show="models.length == 0">
    <div class="text-danger">No Models Selected</div>
    Select (add) models from the models page.
</div>

<ul ng-show="models.length" class="nav nav-tabs">
    <li ng-class="{active: tab == 'Selected'}" ng-click="tab = 'Selected'">
        <a>Selected Models</a>
    </li>
    <li ng-class="{active: tab == 'Heatmap'}" ng-click="tab = 'Heatmap'">
        <a>Heatmap</a>
    </li>
    <li ng-class="{active: tab == 'Pathways'}" ng-click="tab = 'Pathways'">
        <a>Pathways</a>
    </li>
</ul>

<div ng-show="tab == 'Selected'">
    <table ng-show="models.length" class="table comparison-table">
        <thead>
            <tr>
                <th>ID</th>
                <!--<th>Organism</th>
                <th>Rxns</th>
                <th>Cpds</th>-->
                <th>FBA</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="model in models track by $index">

                <td><a ui-sref="modelPage({ws: '{{model.workspace}}', name: '{{model.name}}' })">{{model.name}}</a></td>
                <!--<td>Some Organism</td>
                <td random-number></td>
                <td random-number></td>-->
                <td ws="{{model.workspace}}" name="{{model.name}}">

                    <select class="form-control"
                            ng-model="selectedFBAs[$index]"
                            ng-change="updateView($index, model.workspace, item.name)"
                            ng-options="item.name for item in relatedFBAs[$index]"
                            ng-init="selectedFBAs[$index] = relatedFBAs[$index][0]">
                    </select>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<div ng-show="tab == 'Heatmap'">
    <div class="overflow" compare></div>

    <div legend></div>
    <div ng-if="models.length">
        <b>Tips:</b> Use the mouse wheel while on the heatmap to zoom. Click and drag to pan<br>
    </div>
</div>

<div ng-show="tab == 'Pathways'">
    <div pathways></div>
</div>